.tab {
  font-family: "Amatic SC";
  font-size: 40px;
  color: #008080;
  width: 100%;
  position: absolute;
  top: 0;
}
.text {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}
.hide {
  visibility: hidden;
}
.step-height {
  height: 220px;
}
.position-2 {
  position: absolute;
  left: 5%;
}
.position-3 {
  position: absolute;
  right: 5%;
}
.common-top {
  top: -155px;
}
.first-top {
  top: -203px;
}
.position-1 {
  position: absolute;
  left: 30%;
}
.steps {
  position: relative;
  width: 500px;
  margin: auto;
}
.steps-parent {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.first-txt {
  position: absolute;
  top: 15px;
  font-size: 40px;
  font-family: "Amatic SC";
}
.height {
  height: 270px;
}
.width {
  width: 50%;
}
.tab-content {
  width: 500px;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .steps {
    width: 400px;
  }
  .height {
    height: 230px;
  }
  .first-top {
    top: -170px;
  }
  .common-top {
    top: -120px;
  }
  .tab-content {
    width: 400px;
  }
}
@media screen and (max-width: 440px) {
  .steps {
    width: 300px;
  }
  .height {
    height: 180px;
  }
  .first-top {
    top: -128px;
  }
  .common-top {
    top: -80px;
  }
  .tab-content {
    width: 400px;
  }
  .position-1 {
    left: 28%;
  }
  .tab-content {
    width: 300px;
  }
}
@media screen and (max-width: 340px) {
  .tab-content {
    width: 230px;
  }
}
